@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body
{
    /*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: Roboto Condensed, 'Cambria Math';
    font-size:  22px;
    /*font-style:italic;*/
    /*font-weight:800;*/
    /*font: 32px 'Segoe UI';*/
}
p /*Селектор. Селектором может быть дескриптор, id, либо class*/
{
    /*набор стилей:*/
    text-align:justify;
    /*
        У каждого стиля есть имя и значение.
        Синтаксис описания стиля:
        name:value;
        У некоторых стилей может быть несколько значений,
        в таком случае они перечисляются через ПРОБЕЛ:
        name:value1 value2 ... valueN;
        Для числовых значений обязательно нужно задавать единицы измерения.
    */
}